html {
    font-size: 62.5%;
    box-sizing: border-box;
    
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border-radius: 5px;
  }


  .calculator {

    margin-left: 50px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid purple;
  }

.calculatorKeysGrid {

    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px



}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    
  }

.calculator-keys {

    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 400px

  

}

.equal-sign {
    font-size: 20px; 
    background-color: yellow;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-end: 4;
    grid-column-start: 5;
}

.operator {
    color: black;
    background-color: aqua;
    font-size: 20px;
  }

 .decimal{
     background-color: aqua;
    font-size: 30px;

 }

  .all-clear {
    background-color: pink;
  }


